# Stable diff
diffusers==0.3.0
transformers
scipy
ftfy
psutil

# API
flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.1

# Real-ESRGAN
basicsr>=1.4.2
facexlib>=0.2.5
gfpgan>=1.3.5
numpy
opencv-python
Pillow
torch>=1.7
torchvision
tqdm
