/* Center title */
.title {
	text-align: center;
}

.bot_div {
	padding: 20px;
	margin: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(82, 82, 82);
	border-radius: 20px;
}

p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.js_output {
	white-space: pre-wrap;
}

.bot_input {
	padding: 3px;
	margin-top: 5px;

	border-radius: 5px;
	/* Remove shadow */
	border: 0;
}

.input_text {
	max-width: 100%;
	min-width: 100%;
	height: 3rem;
}

.options {
	padding: 0px;
	margin: 0px;
}

body {
	margin: 0px;
	padding: 10px;
	background-color: rgb(26, 26, 26);
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#polybot_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}